@model  PetCareApp.ModelView.Home.HomeModel

@using System.Web.Razor.Generator


@{
    ViewBag.Title = "Dashboard";
}

@section Styles{
}

<div class="page-header">
    <div class="container-fluid">
        <h2 class="h5 no-margin-bottom">Dashboard</h2>
    </div>
</div>
<div class="main">
    <section class="index">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="statistic-block block">
                        <div class="d-flex align-items-end justify-content-between">
                            <div class="title center">
                                @{
                                    var petImg = Url.Content("~/Content/images/paw-white.svg");

                                    if (ViewBag.Theme.Equals("white"))
                                    {
                                        petImg = Url.Content("~/Content/images/paw-black.svg");
                                    }
                                }
                                <a href="@Url.Action("Create", "Pets")">
                                    <div class="icon">
                                        <img src="@petImg" alt="imagePet" />
                                    </div><strong class="add">Add Pet</strong>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="statistic-block block">
                        <div class=" d-flex align-items-end justify-content-between">
                            <div class="title center">
                                @{
                                    var ownerImg = Url.Content("~/Content/images/dog-in-front-of-a-man-white.svg");

                                    if (ViewBag.Theme.Equals("white"))
                                    {
                                        ownerImg = Url.Content("~/Content/images/dog-in-front-of-a-man-black.svg");
                                    }
                                }
                                <a href="@Url.Action("Create", "Owners")">
                                    <div class="icon">
                                        <img src=@ownerImg alt="imageOwner" />
                                    </div>
                                    <div>
                                        <strong class="add">Add Owner</strong>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="statistic-block block">
                        <div class="d-flex align-items-end justify-content-between">
                            <div class="title center">
                                @{
                                    var visitImg = Url.Content("~/Content/images/paw-white.svg");// TODO: Cambiar imagen!

                                    if (ViewBag.Theme.Equals("white"))
                                    {
                                        visitImg = Url.Content("~/Content/images/paw-black.svg");
                                    }
                                }
                                <a href="@Url.Action("Search", "Home")">
                                    <!-- TODO: crear el search!-->
                                    <div class="icon">
                                        <img src="@visitImg" alt="visitImg" />
                                    </div>
                                    <div>
                                        <strong class="add">Visits</strong>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                @if (ViewBag.IsAdmin)
                {
                    @*
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="statistic-block block">
                                <div class="d-flex align-items-end justify-content-between">
                                    <div class="title center">
                                        @{
                                            var veterinaryImg = Url.Content("~/Content/images/veterinarian-white.svg");

                                            if (ViewBag.Theme.Equals("white"))
                                            {
                                                veterinaryImg = Url.Content("~/Content/images/veterinarian-black.svg");
                                            }
                                        }
                                        <a href="@Url.Action("Create", "Vets")">
                                            <div class="icon">
                                                <img src="@veterinaryImg" alt="imageVet" />
                                            </div>
                                            <div>
                                                <strong class="add">Add Vet</strong>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    *@
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="statistic-block block">
                            <div class="d-flex align-items-end justify-content-between">
                                <div class="title center">
                                    @{
                                        var speciesImg = Url.Content("~/Content/images/species-white.svg");

                                        if (ViewBag.Theme.Equals("white"))
                                        {
                                            speciesImg = Url.Content("~/Content/images/species-black.svg");
                                        }
                                    }
                                    <a href="@Url.Action("Create", "Species")">
                                        <div class="icon">
                                            <img src="@speciesImg" alt="imageSpecies" />
                                        </div>
                                        <div>
                                            <strong class="add">Add Species</strong>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                }
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="bar-chart chart block background-white">
                        <div class="title"><strong>Income</strong></div>
                        <div class="bar-chart chart margin-bottom-sm">
                            <canvas id="myIncomeChart"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                        <div class="pie-chart chart block background-white">
                            <div class="title"><strong>Species</strong></div>
                            <div class="pie-chart chart margin-bottom-sm">
                                <canvas id="mySpeciesChart"></canvas>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </section>
</div>


@section Scripts
{
    @Scripts.Render("~/bundles/chart")
    @Scripts.Render("~/bundles/home")
}

<script>
    var incomeChartData = {
        type: 'bar',
        data: {
            labels: [@Html.Raw(String.Join(",", Model.IncomeChartItems.Select(x => $"\"{x.Month}/{x.Year}\"")))].reverse(),
            datasets: [
                {
                    label: 'Income',
                    data: [@String.Join(",", Model.IncomeChartItems.Select(x => x.Income))].reverse(),
                    @{
                        var color1 = "#da4d60";
                        var color2 = "#e96577";
                        var color3 = "#f28695";
                        var color4 = "#ffb6c1";
                        if (ViewBag.Theme == "white")
                        {
                            color1 = "#3eb579";
                            color2 = "#49cd8b";
                            color3 = "#54e69d";
                            color4 = "#71e9ad";
                        }
                    }
                    backgroundColor: [
                        '@color1',
                        "@color2",
                        "@color3",
                        "@color4"
                    ],
                    hoverBackgroundColor: [
                        '@color1',
                        "@color2",
                        "@color3",
                        "@color4"
                    ],
                    borderWidth: 0.3
                }
            ]
        },
        options: {
            scales: {
                yAxes: [
                    {
                        ticks: {
                            beginAtZero: true
                        }
                    }
                ]
            }
        }
    };

    var speciesChartData = {
        type: 'pie',
        data: {
            labels: [@Html.Raw(String.Join(",", Model.SpeciesChartItems.Select(x => $"\"{x.Name}\"")))],
            datasets: [
                {
                    label: 'Species',
                    data: [@String.Join(",", Model.SpeciesChartItems.Select(x => x.Count))],
                    @{
                        var colorA = "#723ac3";
                        var colorB = "#864DD9";
                        var colorC  = "#9762e6";
                        var colorD = "#a678eb";
                        if (ViewBag.Theme == "white")
                        {
                            colorA = "#44b2d7";
                            colorB = "#59c2e6";
                            colorC = "#71d1f2";
                            colorD = "#96e5ff";
                        }
                    }
                    backgroundColor: [
                        '@colorA',
                        "@colorB",
                        "@colorC",
                        "@colorD"
                    ],
                    hoverBackgroundColor: [
                        '@colorA',
                        "@colorB",
                        "@colorC",
                        "@colorD"
                    ],
                    borderWidth: 0
                }
            ]
        },
        options: {
            responsive: true
        }
    };
</script>