@model PetCareApp.ModelView.MedicalHistory.MedicalHistoryModel

@{
    ViewBag.Title = "Medical History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateVisit</h2>

@Model.PetName (@Model.PetId)

@if (Model.IsCreate)
{
    <p>Hola Miguel!</p>
}
else
{
    <p>A la grande le puse cuca</p>
}

@Html.Partial("_PetInfo", Model)
@Html.Partial("_OwnerInfo", Model)
@Html.Partial("_VisitList", Model)