@model IEnumerable<PetCareApp.Models.Pet>


<div>
    <div class="form-group row">
        <div class="col-lg-2 offset-8">
            <input style="cursor:pointer" value="Create New" type="button" onclick="location.href='@Url.Action("Create", "Pets")'" class="btn btn-primary">
        </div>
    </div>
    <div class="block">
        <div class="title"><strong>List of Pets</strong></div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Birthdate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Type)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OwnerId)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    using (Html.BeginForm("Delete", "Pets", new { id = item.ID }))
                    {
                        @Html.AntiForgeryToken()

                        var myModal = "myModal" + item.ID;
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Birthdate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Type)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OwnerId)
                            </td>
                            <td>
                                <img style="cursor:pointer" onclick="location.href='@Url.Action("Edit","Pets", new { id = item.ID })'" src="~/Content/img/003-edit.png" /> |
                                <img style="cursor:pointer" onclick="location.href='@Url.Action("Details","Pets", new { id = item.ID })'" src="~/Content/img/DetailPink.png" /> |
                                <div style="display: inline-block" data-toggle="modal" data-target="#@myModal">
                                    <img style="cursor: pointer" src="~/Content/img/rubbish-bin.png" />
                                </div>
                                <div id="@myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" class="modal fade text-left" aria-hidden="true" style="display: none;">
                                    <div role="document" class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <strong id="exampleModalLabel" class="modal-title">Signin Modal</strong>
                                                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                                            </div>
                                            <div class="modal-body">

                                                <p>Are you sure you want to erase @item.Name?</p>

                                                <div class="modal-footer">
                                                    <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button>
                                                    <input type="submit" value="Delete"  class="btn btn-primary">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
