
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome to PetCare</title>
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/views/login")
</head>
<body>
    <div class="container">

        <div class="row" id="pwd-container">

            <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-12 col-12">
                <section class="login-form" >
                    <form role="login" action="@Url.Action("DoLogin", "Login")" method="post">
                        <img src="~/Content/images/PetCareLogo.png" />
                        <input type="text" name="email" placeholder="Email" required class="form-control input-lg" value="liglesias@gmail.com" />

                        <input type="password" name="password"class="form-control input-lg" id="password" placeholder="Password" value="Puchun13" required="" />


                        <div class="pwstrength_viewport_progress"></div>


                        <button type="submit" name="go" class="btn btn-lg btn-primary btn-block">Sign in</button>

                    </form>
                </section>
            </div>

            <div class="col-md-4"></div>

        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
