@using PetCareApp.Models

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PetCare</title>
    @Styles.Render("~/Content/bootstrap")
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:300,400,700" />
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    @Styles.Render("~/Content/templates/darkadmin/" + ViewBag.Theme)


    @RenderSection("Styles", false/*required*/)
</head>

<body>
    @Html.Partial("_Header")
    <div class="d-flex align-items-stretch">
        @Html.Partial("_SideBar")
        <div class="page-content isSearch">
            @{
                if (ViewBag.Title == "Search" && ViewBag.Theme == "dark")
                {
                    <style>
                        .isSearch {
                            background-image: url(http://localhost:50491/Content/images/paw-white.svg);
                            background-repeat: no-repeat;
                            background-position: bottom right;
                            background-size: 350px;
                        }
                    </style>
                }
                else if (ViewBag.Title == "Search" && ViewBag.Theme == "white")
                {
                    <style>
                        .isSearch {
                            background-image: url(http://localhost:50491/Content/images/paw-black.svg);
                            background-repeat: no-repeat;
                            background-position: bottom right;
                            background-size: 350px;
                        }
                    </style>
                }
            }
            @RenderBody()
        </div>
        @Html.Partial("_Footer")
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/templates/darkadmin")

    @RenderSection("Scripts", false/*required*/)
</body>
</html>
