
@{
    Layout = null;
}

@section Styles{
    @Styles.Render("~/Content/views/home")
}

<nav id="sidebar">
    <div class="sidebar-header d-flex align-items-center">
        <div class="avatar"><img src="~/Content/images/004-administrator.png" alt="Admin" class="img-fluid rounded-circle"></div>
        <div class="title">
            <h1 class="h5">Admin</h1>
        </div>
    </div><span class="heading">Main</span>
    <ul class="list-unstyled">
        @{
            var homeIcon = Url.Content("~/Content/images/home-icon-white.svg");
            var petIcon = Url.Content("~/Content/images/paw-white.svg");
            var ownerIcon = Url.Content("~/Content/images/dog-in-front-of-a-man-white.svg");
            var vetIcon = Url.Content("~/Content/images/veterinarian-white.svg");
            var speciesIcon = Url.Content("~/Content/images/species-white.svg");
            var logoutIcon = Url.Content("~/Content/images/logout-icon-white.svg");


            if (ViewBag.Theme.Equals("white"))
            {
                homeIcon = Url.Content("~/Content/images/home-icon-black.svg");
                petIcon = Url.Content("~/Content/images/paw-black.svg");
                ownerIcon = Url.Content("~/Content/images/dog-in-front-of-a-man-black.svg");
                vetIcon = Url.Content("~/Content/images/veterinarian-black.svg");
                speciesIcon = Url.Content("~/Content/images/species-black.svg");
                logoutIcon = Url.Content("~/Content/images/logout-icon-black.svg");
            }

            <li><a class="changeonhover" href="@Url.Action("Index", "Home")"> <i><img class="setopacity" src="@homeIcon" /></i>Home</a></li>
            <li><a class="changeonhover" href="@Url.Action("Index", "Pets")"> <i><img class="setopacity header-size" src="@petIcon" /></i>Pets</a></li>
            <li><a class="changeonhover" href="@Url.Action("Index", "Owners")"> <i><img class="setopacity header-size" src="@ownerIcon" /></i>Owners</a></li>
            if (true)
            {
                <li><a class="changeonhover" href="@Url.Action("Index", "Vets")"> <i><img class="setopacity header-size" src="@vetIcon" /></i>Vets</a></li>
                <li><a class="changeonhover" href="@Url.Action("Index", "Species")"> <i><img class="setopacity header-size" src="@speciesIcon" /></i>Species</a></li>
            }

            <li><a class="changeonhover" href="@Url.Action("DoLogout", "Login")"><i><img class="setopacity header-size" src="@logoutIcon" /></i>Login page </a></li>
        }
    </ul>
</nav>

