
@{
    Layout = null;
}


<nav id="sidebar">
    <div class="sidebar-header d-flex align-items-center">
        <div class="avatar"><img src="~/Content/img/004-administrator.png" alt="Admin" class="img-fluid rounded-circle"></div>
        <div class="title">
            <h1 class="h5">Admin</h1>
        </div>
    </div><span class="heading">Main</span>
    <ul class="list-unstyled">
        <li><a class="changeonhover" href="@Url.Action("Index", "Administrator")"> <i><img class="setopacity" src="~/Content/img/home.png" /></i>Home </a></li>
        <li><a class="changeonhover" href="@Url.Action("Index", "Doctors")"><i><img class="doctor" src="~/Content/img/doctorwhite.png" /></i>Doctors</a></li>
        <li><a class="changeonhover" href="@Url.Action("Index", "Pets")"> <i><img class="setopacity" src="~/Content/img/paw.png" /></i>Pets</a></li>
        <li><a class="changeonhover" href="@Url.Action("Index", "Owners")"> <i><img class="setopacity" src="~/Content/img/OwnerSmall.png" /></i>Owners</a></li>
        @if (ViewBag.IsAdmin)
        {
        <li><a class="changeonhover" href="@Url.Action("Index", "Users")"> <i><img class="setopacity" src="~/Content/img/user2.png" /></i>Users</a></li>
        }
        <li><a class="changeonhover" href="@Url.Action("Index", "Login")"><i><img class="setopacity" src="~/Content/img/logout.png" /></i>Login page </a></li>
    </ul>
</nav>