
@{
    Layout = null;
}

@section Styles{
    @Styles.Render("~/Content/views/home")
}

<nav id="sidebar">
    <div class="sidebar-header d-flex align-items-center">
        <div class="avatar"><img src="~/Content/images/004-administrator.png" alt="Admin" class="img-fluid rounded-circle"></div>
        <div class="title">
            <h1 class="h5">Admin</h1>
        </div>
    </div><span class="heading">Main</span>
    <ul class="list-unstyled">
        <li><a class="changeonhover" href="@Url.Action("Index", "Home")"> <i><img class="setopacity" src="~/Content/images/home.png" /></i>Home</a></li>
        <li><a class="changeonhover" href="@Url.Action("Index", "Pets")"> <i><img class="setopacity" src="~/Content/images/paw.png" /></i>Pets</a></li>
        <li><a class="changeonhover" href="@Url.Action("Index", "Owners")"> <i><img class="setopacity" src="~/Content/images/OwnerSmall.png" /></i>Owners</a></li>
        @if (true)
        {
            <li><a class="changeonhover" href="@Url.Action("Index", "Vets")"> <i><img class="setopacity" src="~/Content/images/user2.png" /></i>Vets</a></li>
            <li><a class="changeonhover" href="@Url.Action("Index", "Species")"> <i><img class="setopacity" src="~/Content/images/user2.png" /></i>Species</a></li>
        }
        <li><a class="changeonhover" href="@Url.Action("Index", "Login")"><i><img class="setopacity" src="~/Content/images/logout.png" /></i>Login page </a></li>
    </ul>
</nav>